<div class="form-group">
    <label for="firstName">First Name</label>
    <input required ngModel name="firstName" #firstName="ngModel" class="form-control" type="text" id="firstName">
    <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is Required.</div>
</div>
<div class="form-group">
    <label for="Comment">Comment</label>
    <textarea class="form-control" id="Comment" cols="30" rows="10"></textarea>
</div>
<button class="btn btn-primary">Submit</button>